@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
}

:root {
  --blue: #5f68f9;
  --blue2: #0f62fe;
  --white: #ffffff;
  --orange: #ff7e2f;
  --red: #da1e28;
  --green: #0dff76;
  --grey: #f4f4f4;
  --black1: #030303;
  --black2: #999;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
}

.file-card-list {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dashed var(--black2);
  border-radius: 5%;
  background-color: var(--grey);
  min-width: 400px;
  max-height: 200px;
  min-height: 200px;
}

/* .file-list-upload {
  background: var(--black1);
} */
