@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
}

:root {
  --blue: #5f68f9;
  --blue2: #0f62fe;
  --white: #ffffff;
  --orange: #ff7e2f;
  --red: #da1e28;
  --green: #0dff76;
  --grey: #f4f4f4;
  --black1: #030303;
  --black2: #999;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
}

.card {
  position: relative;
  padding: 2px;
  text-align: center;
  background: var(--blue2);
  width: 35px;
  height: 35px;
  border-radius: 5px;
  margin-right: 20px;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

h2 {
  color: var(--black2);
}

.iso-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vertical-line {
  border-left: 2px solid var(--black2);
  height: 200px;
  margin: 20px;
}
