.row {
  margin-top: 5%;
  position: relative;
}

.col-9 {
  margin: auto;
}

.col-3 {
  margin: auto;
}

.form-upload h1 {
  text-align: center;
}

.form-upload button {
  width: auto;
  background-color: grey;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
  color: aliceblue;
}
